numpy
https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp38-cp38-linux_x86_64.whl#sha256=2ce38a6e4ea7c4b7f5baa51e65243a5f687f6e19ab7915ba5b2a431105f50bbe
https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp38-cp38-linux_x86_64.whl#sha256=af6807d5e599fe5381c916235a5581407e850eb77c3d43899f37a1511ff81cc0
https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py38_cu117_pyt201/pytorch3d-0.7.4-cp38-cp38-linux_x86_64.whl
git+https://github.com/cocodataset/panopticapi.git
tqdm
opencv-python
torchmetrics
einops
torchgeometry
kornia
viser
trimesh
omegaconf
pykdtree
matplotlib